{% load static %}
<html>
<head>
<title>Advanced Attendance System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please Enter Student Id");
	formObj.t1.focus();
	return false;
	}
	if(formObj.t2.value.length==0)
	{
	alert("Please Enter Password");
	formObj.t2.focus();
	return false;
	}
	formObj.actionUpdateData.value="update";
	return true;
	}
	</script>
	
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Advanced Attendance System</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">

	<ul><center>
      <li><a href="{% url 'index' %}">Home</a></li>
	   <li><a href="{% url 'AdminLogin' %}">Admin Login</a></li>
      <li><a href="{% url 'FacultyLogin' %}">Faculty Login</a></li>
	  <li><a href="{% url 'StudentLogin' %}">Student Login</a></li>
   </ul>
        </div>
        <br/>
        <div class="hbg"><img src="{% static 'images/investor.jpg' %}" width="980" height="200" alt="" /></div>
      				<center>
<form name="f1" method="post" action={% url 'StudentLoginAction' %} onsubmit="return validate(this);">
{% csrf_token %}<br/>
   <h2><b>Student Login Screen</b></h2>
   
	<font size="" color="red"><center>{{ data }}</center></font>
						
						<table align="center" width="30%" >
			 <tr><td><font size='' color=black>Student&nbsp;ID</b></td>
			 <td><input type="text" name="t1" style="font-family: Comic Sans MS" size="30"></td></tr>
         
		  <tr><td><font size='' color=black>Password</b></td><td><input name="t2" type="password" size="30" style="font-family: Comic Sans MS"></td></tr>

			<tr><td></td><td><input type="submit" value="Login"></td>
			</table>
			<br/><br/><br/><br/>
				</div>	
					
				</div>
				
					
	</body>
</html>